# Build
target/
out/
build/

# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/
.settings/
.classpath
.project

# OS
.DS_Store
Thumbs.db

# Secrets (Standard Practice)
**/application-local.yml

# Others
HELP.md
.mvn/wrapper/maven-wrapper.jar
